<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Respond
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">respond</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="avatar-container">
      <ion-avatar class="large-avatar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtl2KWcvDkOW-PwbBNU27bQ1uFW3mEv4-OD8reCibF&s">
      </ion-avatar>
    </div>
    <ion-card class="avatar-card">
      <ion-card-content>
        <ion-card-title>
          Theodorus
        </ion-card-title>
        <ion-card-subtitle>
          18 Likes | 1 Cerbungs Created
          Latest Post: 03/07/2023
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <div class="button-container">
      <ion-button routerLink="/home" default="true" outline="true">Decline</ion-button>
      <ion-button class="right" routerLink="/home" default="true" outline="true" >Approve</ion-button>
    </div>
  </ion-content>
</ion-content>