<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification" routerLinkActive="router-link-active" >
        <ion-icon name="notifications" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">users</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="content">
    <ion-segment [(ngModel)]="tipeStatus">
      <ion-segment-button value="mostLike">
        <ion-label>Most Like</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Following">
        <ion-label>Following</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="tipeStatus == 'mostLike'">
    <ion-card *ngFor="let userr of pengguna">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-avatar>
                <img [src]="userr.url" alt="{{ userr.name }}" />
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-list>
                <ion-card-title>{{ userr.name }}</ion-card-title>
                <ion-item>Since {{ userr.since }}</ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="auto" style="text-align: right;">
              <ion-item>{{ userr.like }}</ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="tipeStatus == 'Following'">
    <ion-card *ngFor="let userr of follow">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-avatar>
                <img [src]="userr.url" alt="{{ userr.name }}"  />
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-list>
                <ion-card-title>{{ userr.name }}</ion-card-title>
                <ion-item>Since {{ userr.since }}</ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="auto" style="text-align: right;">
              <ion-item>{{ userr.like }}</ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
    

</ion-content>