<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cerbung Detail
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification" routerLinkActive="router-link-active">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Cerbung Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img [src]="cerbungs.url_cerbung" />
      <ion-card-header>
        <ion-card-title>{{cerbungs.judul}}
          <ion-badge color="danger">{{cerbungs.genre}}</ion-badge>
        </ion-card-title>
        <ion-card-subtitle>{{cerbungs.deskripsi}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{getpara.paragraf}}</ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-item>
      <ion-input label="Paragraf : " [(ngModel)]="paragraf"></ion-input>
    </ion-item>
    <div class="right">
      <ion-button id="btnSubmit" expand="block" default="true" outline="true" (click)="addParagraf()">Add</ion-button>
    </div>
  </div>

  <div>
    <div class="right">
      <ion-button id="btnFollow" expand="block" default="true" outline="true" (click)="addFollow()">Follow</ion-button>
    </div>
  </div>
</ion-content>