<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification" routerLinkActive="router-link-active" >
        <ion-icon name="notifications" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-row>
      <ion-searchbar [debounce]="1000"  (ionInput)="handleInput($event)"></ion-searchbar>
    </ion-row>

    <ion-segment [(ngModel)]="tipeGenre">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Aksi">
        <ion-label>Aksi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Horror">
        <ion-label>Horror</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Kocak">
        <ion-label>Kocak</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="tipeGenre=='All'">
    <ion-card *ngFor="let cerbung of cerbungs">
      <img [src]="cerbung.url_cerbung">
      <ion-card-header>
        <ion-card-title>{{cerbung.judul}}</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          {{cerbung.deskripsi}}
        </ion-item>
        <ion-item>
          {{cerbung.genre}}
        </ion-item>
        <ion-item>
        </ion-item>          
      </ion-list>
    </ion-card>
  </div>

</ion-content>