<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification" routerLinkActive="router-link-active">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-row>
      <!-- <ion-searchbar [debounce]="1000"  (ionInput)="handleInput($event)"></ion-searchbar> -->
      <ion-searchbar [(ngModel)]="search" (ionChange)="filterCerbungList()"></ion-searchbar>
      <ion-button (click)="clearSearchText()">Clear</ion-button>
    </ion-row>

    <ion-segment [(ngModel)]="tipeGenre">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Aksi">
        <ion-label>Aksi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Horror">
        <ion-label>Horror</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Kocak">
        <ion-label>Kocak</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- || (search && tipeGenre == 'All') -->
  <div *ngIf="tipeGenre == 'All' ">
    <ion-card *ngFor="let cerbungs2 of chunkArray(cerbungs, 2); let i = index">
      <ng-container *ngFor="let cerbung of cerbungs2; let i2 = index">
        <img [src]="cerbung.url_cerbung" alt="{{cerbung.judul}}" class="image" />
        <ion-card-header>
          <ion-card-title>{{cerbung.judul}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            by {{cerbung.fk_username}}
          </ion-item>
          <ion-list>
            <ion-item>{{ cerbung.deskripsi }}</ion-item>
          </ion-list>
          <div class="right">
            <ion-button routerLink="/cerbungdetail/{{cerbung.idcerbung}}" default="true"
              outline="true">Read</ion-button>
          </div>
        </ion-card-content>
      </ng-container>
    </ion-card>
    <br>
      
  </div> 

  <div *ngIf="tipeGenre == tipeGenre ">
    <ion-card *ngFor="let cerbungs2 of chunkArray(cerbungs, 2); let i = index">
      <ng-container *ngFor="let cerbung of cerbungs2; let i2 = index">
        <div *ngIf="tipeGenre==cerbung.genre">
          <img [src]="cerbung.url_cerbung" alt="{{cerbung.judul}}" class="image" />
          <ion-card-header>
            <ion-card-title>{{cerbung.judul}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              by {{cerbung.fk_username}}
            </ion-item>
            <ion-list>
              <ion-item>{{ cerbung.deskripsi }}</ion-item>
            </ion-list>
            <div class="right">
              <ion-button routerLink="/cerbungdetail/{{cerbung.idcerbung}}" default="true"
                outline="true">Read</ion-button>
            </div>
          </ion-card-content>
        </div>
      </ng-container>
    </ion-card>
    <br>
      
  </div> 
</ion-content>